.Nav-bar{
   
    background-color:#f2277c;
    margin-left:10px;
    margin-right:10px;

}



.nav-link{

   font-size: 30px;
   display: inline-block;
   margin-left:50px;
   color:black;
   

}

.image{
    
    margin-left:50px;


}